.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  font-weight: 400;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  text-decoration: none;
}

/*При наведении курсора на ссылку, она становится прозрачнее с интервалом 30мс*/
.header__lang-link:hover {
  opacity: 0.8;
  transition: 30ms;
}

@media screen and (max-width: 720px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}