.places {
  max-width: 984px;
  margin: 0 auto;
  padding: 12px 0 0;
}

@media screen and (max-width: 1184px) {
  .places {
    padding-left: 4.6875%;
    padding-right: 4.6875%;
  }
}

@media screen and (max-width: 984px) {
  .places {
    padding-top: 15px;
    padding-left: 3.125%;
    padding-right: 3.125%;
  }
}

@media screen and (max-width: 425px) {
  .places {
    padding-top: 14px;
    padding-left: 0;
    padding-right: 0;    
  }
}