.header {
  max-width: 1184px;
  padding: 28px 0 0;
  margin:  0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 1184px) {
  .header {
    padding-left: 4.6875%;
    padding-right: 4.6875%;
  }
}

@media screen and (max-width: 984px) {
  .header {
    padding-left: 3.125%;
    padding-right: 3.125%;
  }
}

@media screen and (max-width: 720px) {
  .header {
    padding-top: 16px;
    padding-left: 5%;
    padding-right: 5%;
  }
}