.intro {
  margin: 0 auto;
  max-width: 984px;
  padding: 92px 0 0;
}

@media screen and (max-width: 1184px) {
  .intro {
    padding-left: 4.6875%;
    padding-right: 4.6875%;
  }
}

@media screen and (max-width: 984px) {
  .intro {
    padding-top: 88px;
    padding-left: 3.125%;
    padding-right: 3.125%;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding-top: 64px;
    padding-left: 5%;
    padding-right: 5%;
  }
}