.footer {
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 92px 0 24px;
}

@media screen and (max-width: 1184px) {
  .footer {
    padding-left: 4.6875%;
    padding-right: 4.6875%;
  }
}

@media screen and (max-width: 984px) {
  .footer {
    padding-top: 88px;
    padding-left: 3.125%;
    padding-right: 3.125%;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    flex-direction: column;
    gap: 48px;
    align-items: flex-start;
    padding-top: 64px;
    padding-left: 5%;
    padding-right: 5%;
  }
}