.footer {
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 92px 0 24px;
}

@media screen and (max-width: 1184px) {
  .footer {
    padding: 92px 4.6875% 24px;
  }
}

@media screen and (max-width: 984px) {
  .footer {
    padding: 88px 3.125% 24px;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    flex-direction: column;
    gap: 48px;
    align-items: flex-start;
    padding: 64px 5% 24px;
  }
}